.dropdown {
    position: relative;
    width: 200px;
    font-size: 1rem;
    line-height: 1.6;
}

.dropdown__control {
    display: flex;
    flex: 1;
    justify-content: flex-start;

    background-color: white;
    border: 1px solid #ababab;
    border-radius: 0.25rem;

    padding: 0.2rem 0.5rem;
    box-sizing: border-box;
}

.dropdown__panel {
    position: absolute;
    top: calc(100% + 0.25rem);
    left: 0;
    right: 0;

    max-height: 150px;
    background: white;
    border: 1px solid #ababab;
    border-radius: 0.25rem;
    overflow: auto;
    z-index: 10;
}

.dropdown__item-text {
    box-sizing: border-box;
    font-weight: 300;
    width: 100%;
    padding: 0.2rem 0.5rem;
}

.dropdown__item-text.active {
    font-weight: 500;
    
    background: var(--primary-glow);
    width: 100%;
    color: white;
}

.dropdown__label {
    font-size: 1rem;
    line-height: 1.6;
    opacity: 0.75;
    transition: opacity 0.2s ease;
    box-sizing: border-box;
    padding-left: 0.5rem;
}

.dropdown__label.active {
    opacity: 1;
}