@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@300;500&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;

    --background-color: #30363d;
    --foreground-color: #3c444d;
    --accent-color: linear-gradient(90deg, #f27a54 0%, #a154f2 100%);
    --hover-color: #a154f2;

    --font-color: #ffffff;
    --dark-color: #42484e;
}

html,
body {
    max-width: 100vw;
    min-height: 100vh;
    margin: 0;
}

body {
    color: var(--font-color);
    background: var(--background-color);
    overflow-x: hidden;
}

code,
pre {
    font-family: 'Roboto-Mono', monospace;
}
